*.apk
*.ap_
*.dex
*.class
*.log
*.iml
*.gitmodules

.DS_Store

.idea/
.navigation/
.gradle/
gradle/

/captures
/build
/local.propertie
local.properties

*/.externalNativeBuild
app/release/output\.json